@use '../Utils/index' as *; 

body{
    position: relative;
}

.load-container{
    opacity: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(350deg, rgb(162, 109, 226) 9%, rgba(255,121,218,1) 100%);
    min-height: 100vh;
    @include center-element;
    animation: cont 3s cubic-bezier(.42,.13,.78,1.17);
    
    
}
.loader{
    position: relative;
    width:200px;
    height: 200px;
    
   

    span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid rgba(255, 255, 255,0.15);
        border-radius: 50%;
        background: none;
        box-shadow: 0px 5px 18px 10px #fff;
        animation: load-rotate 3s linear infinite both;

    }
    span:nth-child(2){
        border-radius: 44% 56% 39% 61% / 37% 35% 65% 63% ;
        box-shadow: 0px 18px 20px 2px #D47AE8;
        animation-direction: normal;
    }
    span:nth-child(3){
        border-radius: 37% 63% 71% 29% / 44% 39% 61% 56% ;
        box-shadow: 0px 8px 30px 4px #79018C;
        animation-direction: normal;
    }
    span:nth-child(4){
        border-radius: 62% 38% 51% 49% / 42% 42% 58% 58% ;
        box-shadow: 2px 15px 49px 12px black;
        animation-direction: alternate-reverse;
    }
    span:nth-child(5){
        border-radius: 67% 33% 57% 43% / 45% 61% 39% 55% ;
        box-shadow: 2px 10px 59px 22px #D47AE8;
        animation-direction: normal;
    }
    span:nth-child(6){
        border-radius: 67% 33% 66% 34% / 36% 70% 30% 64% ;
        box-shadow: 2px 6px 69px 2px #AA14F0;
        animation-direction: normal;
    }

}

.container--efx{
    animation: load-content 0ms 2s ease-in both;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}



.header{
    height: 3.9rem; 
    
    @include center-element;
    
}

.location-bar{
    box-sizing: border-box;
    height: 3rem;
    background-color: $dark-grey;
    box-shadow: 0 2px 2px  #d0cdcd inset;
    @include center-element;
    
    &__title{
        font-family: $text-font;
        color: $darker-grey;
    }

    i{
        padding-right: 1.2rem;
        color: $darker-grey;
    }
}

.discover{
    height: 17rem; 
    background-color: $light-grey;
    padding-top: 2rem;
    @include center-element(center,stretch, column);
    gap: 3rem;

    &__header{
        // margin-bottom: 2rem;
        font-family: $text-font;
        font-weight: 500;
        font-size: 1.5rem;
    }

    &__text{
        @include center-element(center, center, column);
        font-weight: 100;
        margin: 0;
    }
}

.user-interface{
    margin-top: 3.12rem;
    padding: $contain;

    &__header{
        margin-bottom: 1.75rem; 
        font-size: 1.5rem;
        font-weight: 500;
    }

}

.restaurant{
    background-color: $light-grey;
    margin-top: 4.25rem;
    padding: 3.62rem 1.25rem 3.8rem 1.25rem;

    &__header{
        margin-bottom: 1.7rem;
    }

    &__container{
        @include center-element(center, flex-start, column);
        gap: 1rem;
    }

}

.footer{
    background-color: $darker-grey;
    padding: 1.5rem 1.25rem 2.3rem 1.25rem;

   &__header{
       font-family: $header-font;
       color: white;
       font-size: 1.2rem;
       margin-bottom: 24px;
   }

    &__links{
        color: #fff;
        font-size: 0.90rem;

        i{
            padding-right: 12px;
        }

        .te{
            padding-left: 0.10rem;
        }

        p{
            margin-bottom: 8px;
        }
    }
}

@keyframes load-rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        
    }
}

@keyframes load-content{
    0%{
        transform: translateX(-9999px);
    }
    100%{
        transform: translateX(0px);

    }
}

@keyframes cont {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


