@use '../Utils/index' as *; 

.header{
    height: 3.9rem; 
    
    @include center-element;
}

.location-bar{
    box-sizing: border-box;
    height: 3rem;
    background-color: $dark-grey;
    box-shadow: 0 2px 2px  #d0cdcd inset;
    @include center-element;
    
    &__title{
        font-family: $header-font;
    }
}

.discover{
    height: 17rem; 
    background-color: $light-grey;
    padding-top: 2rem;
    @include center-element(center,stretch, column);
    gap: 3rem;

    &__header{
        // margin-bottom: 2rem;
        font-family: $header-font;
    }

    &__text{
        margin: 0;
    }
}

.user-interface{
    margin-top: 3.12rem;
    padding: $contain;

    &__header{
        margin-bottom: 1.75rem; 
    }

}

.restaurant{
    background-color: $light-grey;
    margin-top: 4.25rem;
    padding: 3.62rem 1.25rem 3.8rem 1.25rem;

    &__header{
        margin-bottom: 1.7rem;
    }

    &__container{
        @include center-element(center, flex-start, column);
        gap: 1rem;
    }

}

.footer{
    background-color: $darker-grey;
    padding: 1.5rem 1.25rem 2.3rem 1.25rem;

    &__image{
        width: 110px;
        height: 34px;
        color:  #fff;
    }

    &__links{
        color: #fff;
    }
}

.menu-page{
    width: 100%;
    background-color: $light-grey;
    padding-bottom: 5.12rem;
    

    &__image{
        width: 100%;
        height: 16rem;
        object-fit: cover;
        // position: relative;
    }

    &__container{
        background-color: $light-grey;
        padding: 2.3rem 1.25rem 0 1.25rem;
        position: relative;
        bottom: 45px;
        z-index: 2;
        border-radius: 35px 35px 0 0;


    }
}

.menu{
    margin-top: 2.6rem;
    

    &__container{
        @include center-element(stretch, flex-start, column);
        margin-top: 0.75rem;
        gap: 0.75rem;
    }

    &__title{

        >div{
            background-color: $tetiary-color;
            width: 2.5rem;
            height: 0.2rem;
            margin-top: 0.50rem;
        }
    }

    &__btn{
        @include primary-btn(11.62rem);
        margin: 0 auto;
    }
}