@use '../Utils/index' as *; 

// PRIMARY BUTTON
.btn {
    @include primary-btn; 

    &__text{
        color: #fff;
        font-weight: 600;
    }
}


// INTERACTION BTN
.interaction{
    @include center-element(center, flex-start, column);
    width: 100%;
    gap: 1.5rem;

    &__btn{
        box-sizing: border-box;
        border-radius: 25px;
        height: 4.75rem;
        background-color: $light-grey;
        box-shadow:  4px 4px 9px 1px $dark-grey;
        width: 100%;
        @include center-element(center,flex-start);
        padding-left: 2rem;
        position: relative;
        font-weight: 500;

        div:nth-child(1){
            @include center-element;
            background-color: $primary-color;
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 100px;
            color: white;
            font-size: 0.75rem;
            position: absolute;
            left: -12px;
        }

        .icon{
            margin-right: 1.75rem;
            color: #bbbbbb;
        }

        .burger-menu{
            margin-right: 1.75rem;
            color: #bbbbbb;
            font-size: 0;

            i{
                font-size: 0.75rem;
                white-space: pre-wrap;
            }
        }
    }

}

// RESTAURANT-CARD

.rest-card{
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    background-color: #fff;
    box-shadow: $primary-shadow;

    &__img{
        height: 10.87rem;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    &__container{
        @include center-element(center, flex-start);
        padding: 0 22px 0 14px;
        justify-content: space-between;

        &-text{
            margin: 11px 0;

            p{
                color: black;
                margin-top: 3px;
                font-weight: 500;
            }

            p:nth-child(2){
                font-weight: 100;
            }

        }

        &-icon{
            color: black;
            font-size: 1.5rem;
        }
    }
}


.dish{
    box-sizing: border-box;
    width: 100%;
    height: 68px;
    padding: 0.75rem 1.5rem 0.75rem 0.75rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow:  2px 5px 15px #d8d8d8;
    font-family: $text-font;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    opacity: 0;
    animation: loading-btn 1000ms forwards;
    
    .dish__container{
        width: 100%;
        flex-shrink: 0;
    }

    .sub-para{
        @include center-element(strecth, flex-start);
        justify-content: space-between;
        margin-top: 0.25rem;
        font-weight: 100;

        span{
            font-weight: 500;
            color: $darker-grey;
        }
    }

    .checker{
        background-color: $tetiary-color;
        width: 59px;
        height: 68px;
        margin: -0.75rem -1.5rem -0.75rem 0px;
        border-radius: 0 15px 15px 0;
        transform: translateX(200%);
        transition: transform 500ms ease-out;
        @include center-element;

        .fa-check-circle{
            font-size: 1.4rem;
            color: #fff;
            transform: rotate(-2turn);
            transition: transform 600ms ease-out;
        }
    };

    &:hover{
       .checker{
           transform: translateX(0);
           transition: transform 500ms ease-in-out;
           
       }

       .dish__container{
           flex-shrink: 1;
       }

       span{
           padding-right: 15px;
       }

       .fa-check-circle{
           transform: rotateX(0);
          
       }
        
    }
}

.menu__container{
   
    @for $i from 1 through 3 {
        div:nth-child(#{$i}){
            animation-delay: 150ms * $i;
            
        }
    }
}


@keyframes loading-btn{
    0%{
        opacity: 0;
        transform: translateY(25px);
        
        
    }
    100%{
       opacity: 1; 
       transform: translateY(0px);
        
    }
}
