@use '../Utils' as *; 

body{
    font-family: $text-font;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

h1,h2,p{
    @include margin-clear;
}

a{
    text-decoration: none;
    
}

.burger-menu{
    
    i{
        margin: 0;
    }
}