// Colors

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tetiary-color: #99E2D0;
$light-grey: #f6f6f6;
$dark-grey: #eaeaea;
$darker-grey: #353535;

// Fonts

$header-font: 'Shrikhand', sans-serif;
$text-font: 'Roboto', sans-serif;

// Shadow

$primary-shadow: 1px 3px 9px 1px #bbbbbb;


// PADDING

$contain: 0 1.25rem 0 1.25rem; 

// Map

$breakpoints: (
    tablet: 950px,
    desktop: 950px
);